.root{
	-fx-background-color:  
		linear-gradient(#536976 0%, #292E49 50%);
}

.text{
	-fx-text-fill: #ffffff;
}

.title{
	-fx-font-family: "Segoe UI";
	-fx-text-fill: #ffffff;
}

.sideMenu{
	-fx-font-family: "Segoe UI Semilight";
	-fx-text-fill: #ffffff;
}

.infoTitle{
	-fx-font-family: "Segoe UI Semibold";	
}

.info{
	-fx-font-family: "Segoe UI Light";
}

.carInfo{
	-fx-background-color:
			transparent;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}


.splitPane{
	-fx-border-style: solid;
	-fx-border-width: 2 2 2 2;
    -fx-background-color: linear-gradient(#6985ad 40%, #e5fdff);
}